#cards {
  margin-top: 1em;
}

.card-title, .chip {
  vertical-align: middle;
}

.progress {
  margin-top: 0;
}

.header {
  background: #3f1567;
  background: -moz-linear-gradient(-45deg, #3f1567 0%, #c11c7a 100%);
  background: -webkit-linear-gradient(-45deg, #3f1567 0%, #c11c7a 100%);
  background: linear-gradient(135deg, #3f1567 0%, #c11c7a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3f1567', endColorstr='#c11c7a', GradientType=1);
  color: #ffffff;
  height: 100vh;
}